.detail {
    position: relative;
    right: 50%;
    font-size: 30px;
    font-weight: bold;
}

.table {
    position: relative;
    right: 40%;
    margin: 10px;
    width: 180%;
}

.custom {
    height: 80px;
    text-align: center;
}

.sold {
    float: left;
    position: relative;
    right: 40%;
    font-size: 20px;
    font-weight: bold;
}

.img {
    display: flex;
    position: relative;
    left: 30%;
    border: 1px solid #ddd;
    padding: 90px;
}

.his_table {
    width: 100%;

    /* border: 1px; */
    border-style: groove;
}

.custom {
    width: 100%;
    height: 60px;
    text-align: center;
}

.his_btn {
    margin: 5%;
    width: 85px;
}

.top_title {
    text-align: center;

    font-size: 30px;
    margin-bottom: 20px; 
    font-weight: bold;
}

table, th, td {
    border: 1px solid black; 
    /* 枠線をつける */
    border-collapse: collapse;
    /* 重なりをなくす */
    padding: 10px; 
    /* 余白をつける */
}

.thead {
    height: auto;
}