.detail {
    position: relative;
    right: 150px;
    font-size: 30px;
    font-weight: bold;
}

.table {
    position: relative;
    right: 150px;
    margin: 10px;
    width: 180%;
}

.custom {
    height: 50px;
    text-align: center;
}

.sold {
    float: left;
    position: relative;
    right: 150px;
    font-size: 20px;
    font-weight: bold;
}

.list {
    position: relative;
    left: 200px;
}