body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header {
    text-align: center;
    padding: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.mypage-btn {
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.mypage-btn:hover {
    background-color: #ccc;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

.link {
    display: block;
    color: #007BFF;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}
