/* ページ全体のスタイル */
body {
    display: flex; /* Flexboxレイアウトを使用。これにより、要素を柔軟に配置できます */
    font-family: Arial, sans-serif; /* フォントをArialに設定し、Arialが利用できない場合は、一般的なサンセリフフォント（sans-serif）を使用 */
    background-color: #f4f4f9; /* 背景色を薄いグレー（#f4f4f9）に設定 */
    justify-content: center; /* 横方向（主軸）でコンテンツを中央に配置 */
    align-items: center; /* 縦方向（交差軸）でコンテンツを中央に配置 */
    box-sizing: border-box; /* パディングやボーダーを要素のサイズに含める。これにより、パディングやボーダーを設定しても、指定した幅や高さが維持される */
}

/* フォーム全体のスタイル */
.form-container {
    background-color: #fff;
    padding: 150px; /* 内側の余白を少し広げる */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%; /* フォーム全体を広げる */
    max-width: 1000px; /* 最大幅を800pxに調整 */
    box-sizing: border-box;
}

/* 見出しのスタイル */
h1 {
    margin-bottom: 25px;
    font-size: 40px;
    color: #333;
    text-align: center; /* 中央揃え */
}

/* ラベルのスタイル */
.su_label {
    font-size: 16px; /* ラベルのフォントサイズを少し大きく */
    margin-bottom: 5px;
    display: block; /* ブロック要素でラベルを左揃え */
    color: #333;
}

/* 入力フィールドのスタイル */
.su_input[type="text"],
.su_input[type="email"],
.su_input[type="phone"],
.su_input[type="zipcode"],
.su_input[type="address"],
.su_input[type="date"],
.su_input[type="password"] {
    width: 100%;
    max-width: 600px; /* 入力フィールドの最大幅を広げる */
    padding: 12px; /* 内側の余白を広げる */
    margin-bottom: 20px; /* 下の余白を調整 */
    border: 1px solid #ccc;
    border-radius: 4px; /*角の丸み4px*/
    font-size: 16px; /* フォントサイズを大きく */
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* フォーカス時のスタイル */
.su_input:focus {
    border-color: #4CAF50;
    outline: none;
}

/* ボタンのスタイル */
.su_button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 14px; /* ボタンの高さを調整 */
    border-radius: 4px; /*角の丸み : 4px*/
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 600px; /* ボタンの幅を入力フィールドに揃える */
}

/* ホバー時のスタイル */
.su_button:hover {
    background-color: #45a049;
}

.flatpickr-calendar {
    font-size: 20px;
    width: 350px;
}